body{
    background-color: aqua;
    display: grid;
    place-items:center;
    height: 100vh;

    /* 6. background-attachment:(scroll,fixed) */
    background-image: url(images/flpcrt_img1.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: fixed;
}

div{
    width: 600px;
    height: 400px;

    /* 1. background-color:(4 ways) */
    background-color: brown;

    /* 2. background-image:(can place more than one at a time) */
    background-image:url('images/flpcrt_img1.png'),url('images/pic2.jpg');

    /* 3. background-repeat:(repeat,no-repeat,repeat-x,repeat-y) */
    background-repeat:no-repeat;

    /* 4. background-size:(auto,(width,height),cover,contain) */
    background-size:300px 250px,300px 250px;

    /* 5. background-position:(top left,top right,bottom left,bottom right,left centre,right center,centre center) */
    /* background-position: top left,bottom right; */
    background-position: top left, bottom right;
}



@font-face {
    font-family:dancing-script;
    src: url(font-family/DancingScript-VariableFont_wght.ttf);
}
section{
    font-size: 50px;
    font-family:dancing-script;

    /* 7. background-clip:(border box,padding box, content box,text) */
    background-image:linear-gradient(to left,rgb(255, 0, 0),blue);
    color:transparent;
    background-clip:text;

}