/* 1. first attribute selector */
/* div[title]{
    color: red;
} */

/* 2. Attribute selector */
div[title="div1"]{
    color: blue;
}

/* 2nd type attribute selector  another example with class single value */
div[class="block1"]{
    color: magenta;
}

/* or  */
/* div.block1{
    color: salmon;
} */


/* now other 4 type on multiple values of class */

/* 3. attribute selector with prefix value */
div[class^="one"]{
    color: greenyellow;
}

/* 4. attribute selector with suffix value  */
div[class$="3"]{
    color: brown;
}

/* 5. attribute selector with in between value  */
div[class~="ii"]{
    color: rgb(234, 255, 0);
}

/* 6. attribute selector with again in between value  */
/* this selector is very powerfull , 'i' written on 1st place inside class value of div tag inside html but it able to target that while it is created for target the middle value like ~. */
div[class*="i"]{
    color: green;
}