/* 1. ::first-letter--> */
p::first-letter{
    font-size: 50px;
    color: magenta;
}

/* 2. ::first-line--> */
p::first-line{
    color: red;
}

/* 3. ::selection--> */
div::selection{
    background-color: green;
}
/* or  */
*::selection{
    background-color: yellowgreen;
}

/* 4. ::marker (specially for list to make default bullets into emojis)--> */
/* ul>li::marker{
    content: '👍';
} */
/* or  */

ul>:nth-child(even)::marker{
    content:'👌';
}

ul>:nth-child(odd)::marker{
    content:'😒';
}

/* 5. ::before (work on span(inline element also)) */
section::before{
    content: 'Hello ';
    color: orange;
}

/* 6. ::after (work on span(inline element also))  */
section::after{
    content: ' ,How are you?';
    color: rgb(0, 255, 17);
}

/* checking selection selector is only work on block level or it also works on inline element */
span::selection{
    background-color:green;
}

/* checking marker selector on inline element  */
span::marker{
    content:'👍';
}

